{% extends "content/post.twig" %}

{% block content %}
	<a class="invisible-slug" name="$post.slug">&nbsp;</a>
	<div class="postHeader">
		<span class="postDate"><h2><a href="$post.url">${ post.created_at | strftime("%m|%d" | translate) }</a></h2></span>
		{% if post['title'] %}
			<h1><a href="$post.url" rel="bookmark" title="${ "Permanent Link to" | translate } &quot;$post.title&quot;">$post.title</a></h1>
		{% endif %}
	</div>
    
    ${ post.body | read_more }
{% endblock %}
